*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: radial-gradient(circle, rgba(120,0,0,1) 0%, rgba(250,204,13,1) 51%, rgba(255,151,0,1) 100%);
    width: 100%;
    height: 100dvh;
    font-size: 2rem;
    flex: 1;
    min-height: 100dvh;
    align-items: center;
}
.clock{
    width: 30rem;
    height: 30rem;
    border: 20px solid #fff;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
}
.clock::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background:rgb(255, 206, 12);
    border-radius: 50%;
}
.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}
.hand{
    width: 50%;
    height: 6px;
    border-radius: 6px;
    background: #000;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all .05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, .0.58, 1);
}